html, body {	
	padding: 1%;
	height: 100%;
	width: 100%;
}

i {
	margin: 0 0 -3px -5px;  
	color: gray;
}

h1 {
	padding-left: 2%;
	font-family: 'Open Sans', sans-serif;
}

svg {
	background-color: #f5f5f5;
	border-radius: 3px;
}

.container {
	height: 100%;
}

/*Height grid*/
.top {
	height: 10%;
}

.content {
	height: 85%;
}

.footer {
	background-color: #F5F5F5;
	height: 5%;
	border-top: 1px solid gray;
}

#map {
	height: 90%;
	width: 850px
	/*border-left: 1px solid gray;*/
}

#resort-table {
	height: 90%;
	overflow-y: scroll;
}

.contour {
  stroke-width: 0.01;
}

.key {
	font-size: 0.7em;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.badge {	
	margin-top: 0.5em;
	padding: 0;
	min-height: 10px;
}

.badge:empty {
  display: block;
}


